# Guam Coconut Rhinoceros Beetle Trap Data as a Flat File

In [1]:
import pandas as pd
import pymysql
import mysql.connector
from sqlalchemy import create_engine

In [2]:
# load the variables username and password from secrets.py
# Note: secrets.py is included in .gitignore for security
%run secrets.py

### Create a flat file by combining location data from the *trap* table and trap catch data from the *trap_visit* table

In [3]:
connection_string = "mysql+pymysql://{}:{}@mysql.guaminsects.net/oryctes".format(username, password)
engine = create_engine(connection_string)
cnx = engine.raw_connection()
sql = '''
SELECT trap.trap_id, trap.date_deployed, trap.date_removed, trap.latitude, trap.longitude,
    trap_visit.visit_date, 
    (trap_visit.male_count+trap_visit.female_count+trap_visit.unsexed_count) AS beetles_trapped
FROM trap, trap_visit
WHERE trap.trap_id = trap_visit.trap_id
LIMIT 100000;
'''
data = pd.read_sql(sql, cnx)
data

,trap_id,date_deployed,date_removed,latitude,longitude,visit_date,beetles_trapped
0,0002MAN,2012-07-30,None,13.45348,144.79247,2012-08-29,1
1,0002MAN,2012-07-30,None,13.45348,144.79247,2012-09-27,0
2,0002MAN,2012-07-30,None,13.45348,144.79247,2012-10-18,0
3,0002MAN,2012-07-30,None,13.45348,144.79247,2012-11-14,0
4,0002MAN,2012-07-30,None,13.45348,144.79247,2012-12-17,0
5,0002MAN,2012-07-30,None,13.45348,144.79247,2013-02-08,0
6,0002MAN,2012-07-30,None,13.45348,144.79247,2013-02-20,0
7,0002MAN,2012-07-30,None,13.45348,144.79247,2013-03-26,0
8,0002MAN,2012-07-30,None,13.45348,144.79247,2013-04-15,0
9,0002MAN,2012-07-30,None,13.45348,144.79247,2013-05-10,0
10,0002MAN,2012-07-30,None,13.45348,144.79247,2013-05-29,0
11,0002MAN,2012-07-30,None,13.45348,144.79247,2013-06-19,0
12,0002MAN,2012-07-30,None,13.45348,144.79247,2013-07-17,0
13,0002MAN,2012-07-30,None,13.45348,144.79247,2013-08-09,0
14,0002MAN,2012-07-30,None,13.45348,144.79247,2013-08-28,0
15,0002MAN,2012-07-30,None,13.45348,144.79247,2013-09-17,0
16,0002MAN,2012-07-30,None,13.45348,144.79247,2013-10-03,0
17,0002MAN,2012-07-30,None,13.45348,144.79247,2013-11-07,0
18,0002MAN,2012-07-30,None,13.45348,144.79247,2013-12-26,0
19,0002MAN,2012-07-30,None,13.45348,144.79247,2014-01-23,0
20,0002MAN,2012-07-30,None,13.45348,144.79247,2014-02-10,0
21,0002MAN,2012-07-30,None,13.45348,144.79247,2014-03-12,0
22,0002MAN,2012-07-30,None,13.45348,144.79247,2014-04-24,0
23,0002MAN,2012-07-30,None,13.45348,144.79247,2014-05-20,0
24,0002MAN,2012-07-30,None,13.45348,144.79247,2014-06-18,0
25,0002MAN,2012-07-30,None,13.45348,144.79247,2014-07-18,0
26,0002MAN,2012-07-30,None,13.45348,144.79247,2014-10-29,0
27,0002MAN,2012-07-30,None,13.45348,144.79247,2014-11-25,0
28,0002MAN,2012-07-30,None,13.45348,144.79247,2014-12-05,0
29,0002MAN,2012-07-30,None,13.45348,144.79247,2014-12-16,0
...,...,...,...,...,...,...,...
90070,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2011-04-04,0
90071,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2011-04-26,1
90072,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2011-05-25,0
90073,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2011-06-23,0
90074,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2011-09-20,0
90075,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2011-10-18,0
90076,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2011-12-19,0
90077,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-01-13,0
90078,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-02-14,0
90079,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-02-15,0
90080,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-03-12,0
90081,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-04-09,0
90082,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-04-30,0
90083,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-05-21,0
90084,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-06-19,0
90085,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-07-16,0
90086,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-08-21,0
90087,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-09-18,0
90088,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-10-09,0
90089,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-10-31,0
90090,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2012-12-03,0
90091,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2013-01-09,0
90092,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2013-02-11,0
90093,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2013-03-07,0
90094,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2013-04-04,0
90095,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2013-04-29,0
90096,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2013-05-21,0
90097,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2013-06-11,0
90098,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2013-07-03,0
90099,X9999,2008-04-09,2013-07-30,13.51223,144.80719,2013-07-30,0

### Save the flat file as *trap_data.csv*.

In [4]:
data.to_csv('trap_data.csv', index=False)